<nav>
    <ul>
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li><a href="{% url 'catalog' %}">Каталог</a></li>
        {% if request.path == '/catalog/' %}
            <li class="cat"><a href="{% url 'contact' %}">Обратная связь</a></li>
            <li class="cat"><a href="{% url 'category_list' %}">Категории</a></li>
        {% endif %}
        <li><a href="{% url 'tag_list' %}">Теги</a></li>
        {% if request.path == '/account/' %}
            <li class="cat"><a href="{% url 'add_product' %}">Добавить товар</a></li>
            <li class="cat"><a href="{% url 'add_category' %}">Добавить категорию</a></li>
        {% endif %}
{#        <li><a href="{% url 'api' %}">API</a></li>#}
{#        {% if request.path == '/api/' %}#}
{#            <li class="cat"><a href="{% url 'edit_APIproduct' product_id=1 %}">Изменить</a></li>#}
{#            <li class="cat"><a href="{% url 'add_APIproduct' product_id=1 %}">Добавить</a></li>#}
{#            <li class="cat"><a href="{% url 'delete_APIproduct' product_id=1 %}">Удалить</a></li>#}
{#            <li class="cat"><a href="{% url 'view_APIproduct' product_id=1 %}">Посмотреть</a></li>#}
{#        {% endif %}#}
        <li><a href="{% url 'account' %}">Личный кабинет</a></li>
        <li><a href="{% url 'cart' %}">Корзина</a></li>
    </ul>
</nav>