{% extends 'base.html' %}

{% block title %}Страница вывода товара{% endblock %}

{% block content %}
    <div class="detail_container">
        <div class="detail_card">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="description">
                <div>
                    <h1>{{ product.name }}</h1>
                    <p class="detail_price">Описание: {{ product.description }}</p>
                    <p class="detail_price">Цена: ${{ product.price }}</p>
                    <a href="" class="list-button" id="btn_buy">Добавить в корзину</a>
                </div>
                <p>Теги:
                    {% for tag in product.tags.all %}
                        <a href="{% url 'tag_detail' tag.id %}" class="empty_link">{{ tag.name }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
